{
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 140,
  "overrides": [
    { "files": "temp/kdm-catalog/kdm-tags.json", "options": { "printWidth": 1000 } },
    { "files": "static/kdm-catalog/data.json", "options": { "printWidth": 280 } }
  ]
}
